<ul class="infinite-grid">
    <li class="infinite-grid__row"
        ng-class="{ 'infinite-grid__row--freeze': row.freeze }"
        ng-repeat="row in data">

        <div class="infinite-grid__column"
             ng-class="{ 'infinite-grid__column--freeze': column.freeze }"
             ng-repeat="column in row.columns">

            {{column.value}}
        </div>
    </li>
</ul>

<button ng-click="showPrevRow();">Show prev row</button>
<button ng-click="showNextRow();">Show next row</button>
<button ng-click="showPrevColumn();">Show prev column</button>
<button ng-click="showNextColumn();">Show next column</button>